body {
    margin-left: 2rem;
}

.action-pad {
    width: 60%;
    padding-left: 2rem;
    margin-top: 0;
    padding-top: 0;
}
.btn {
    border: solid beige 2px;
    width:10%;
    padding: 1rem 3rem;
    margin-top: 2px;
    
}

.btn:selected {
    border: solid red 1px;
}

.result {
    border: solid grey 2px;
    background-color: rgb(201, 196, 196);
    width: 50%;
    padding: 1rem;
    margin-left:0;
    margin: 1rem;
}